<div class="row fix-scroll">
  <div class="col-md-6 col-md-offset-3 container">
    <div class="overlay-signup">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { autocomplete: 'off' }) do |f| %>
        
        <div class="form-input-wrapper-sessions white-black">
          <%= f.label :username, "Nombre de usuario" %>
          <%= f.text_field :username, autofocus: true, placeholder: "Nombre Completo", onfocus: "this.value = this.value;" %>
          <%= f.error_message_for(:username) %>
        </div>

        <div class="form-input-wrapper-sessions white-black">
          <%= f.label :email, "Correo" %>
          <%= f.email_field :email, placeholder: "Correo" %>
          <%= f.error_message_for(:email) %>
        </div>

        <% if f.object.password_required? %>
          <div class="form-input-wrapper-sessions white-black">
            <%= f.label :password, "Contraseña" %>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña (mínimo #{@minimum_password_length} caracteres)" %>
            <%= f.error_message_for(:password) %>
          </div>

          <div class="form-input-wrapper-sessions white-black">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Reingresa tu contraseña" %>
          </div>
        <% end %>

        <%= f.submit "Crear cuenta", class: "button buttons-session" %>
        <p class="o">o</p>
        <%= link_to "Inicia sesión", new_user_session_path, class: "button a-to-button buttons-session pad-top" %>

      <% end %>

      <!--<%= render "devise/shared/links" %>
      <div class="devise-links">
        <%= render "devise/shared/links" %>
      </div>-->

    </div>
  </div>
</div>