<div class="col-md-10 col-md-offset-1"  style="margin-top: 60px;">
  <div class="row">
    <div class="col-md-12 large-searchbar">
      <%= form_for :search, url: search_tags_path, method: :get do |f| %>
        <%= f.search_field :q, value: params[:q], placeholder: 'Busca en Tongs...', autofocus: true, autocomplete: 'off', onfocus: "this.value = this.value;" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="search-filter-links">
        <div class="filter-link"><%= link_to 'Todo', search_path(q: params[:q]) %></div>
        <div class="active filter-link">
          <%= link_to search_users_path(q: params[:q]) do %>
            Gente <span class="glyphicon glyphicon-chevron-right pull-right"></span>
          <% end %>
        </div>

        <div class="active filter-link">
          <%= link_to search_tags_path(q: params[:q]) do %>
            Cursos <span class="glyphicon glyphicon-chevron-right pull-right"></span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <%= react_component('TagList', { tags: @tags }, { prerender: true }) %>
    </div>
  </div>
</div>
