<div class="response-panel">
  <div class="post-metadata fix-pad-resp">
    <%= avatar_for response.user, size: 40 %>
    <div class="post-info">
      <%= link_to response.username, response.user %><br/>
      <small><%= time_ago_in_words(response.created_at) %></small>
    </div>
  </div>

  <div class="main-body resp-body-pad">
    <p class="response-body"><%= remove_javascript(response.body).html_safe %></p>
  </div>

  <% if response.user == current_user %>
  <%= link_to '', post_response_path(response.post, response), method: :delete, data: { confirm: 'Delete comment?'}, remote: true, class: 'glyphicon glyphicon-trash text-danger', title: 'Delete comment', rel: 'tooltip' %>
  <% end %>

  <div class="response-stats clearfix resp-t-b-pad">
    <div id="response_<%= response.id %>_likes" class="pull-left">
      <%= render partial: 'responses/likes', locals: { response: response } %>
    </div>

    <div id="response_<%= response.id %>_bookmarks" class="pull-right">
      <%= render partial: 'responses/bookmarks', locals: { response: response } %>
    </div>
  </div>
</div>
