<div class="post-panel">
  <%= render partial: 'posts/post_metadata_dash', locals: { post: post } %>

  <% if post.picture? %>
    <div class="post-picture-wrapper">
      <%= link_to ( image_tag post.picture.url(:thumb) ), post %>
    </div>
  <% end %>

  <div class="main-body">
    <h3 class="post-title"><%= link_to post.title, post %></h3>
    <% if post.lead %>
      <div class="post-body"><%= truncate(remove_javascript(post.lead), length: 400, separator: ' ', escape: false) %></div>
      <%= link_to "Sigue leyendo", post, class: 'read-more' if post.characters > 400 %>
    <% end %>
  </div>

  <div class="post-stats stats clearfix">
    <div style="display: flex;justify-content: space-around;">
      

      <div style="text-align: center;">
        <%= render partial: 'posts/likes', locals: { post: post } %>
      </div>

      <div style="margin-top: 11px;">
        <%= render partial: 'posts/bookmarks', locals: { post: post } %>
      </div>
    </div>

    <div class="post-tags">
      <% post.tags.each do |tag| %>
        <%= link_to tag.name, tag, class: 'tag' %>
      <% end %>
    </div>

    <div class="response-count pull-right">
      <% if post.responses_count > 0 %>
        <div data-behavior="response-count"><%= pluralize(post.responses_count, "respuesta") %></div> <%# Maybe later a link_to could be added to open the comment box (which should be hidden) %>
      <% end %>
    </div>

    <h4 class="small-heading">Respuestas</h4>
    <!--<% if user_signed_in? %>
      <%= render partial: 'posts/response_editor', locals: { post: post } %>
    <% end %>-->

    <%= form_for [post, Response.new], remote: true do |f| %>
      <p>
        <%= f.label :body, "New Comment" %><br/>
        <%= f.text_area :body %>
      </p>
      <p>
        <%= f.submit "Add Comment"%>
      </p>
    <% end %>

    <div data-behavior="responses-list">
      <% if post.responses_count > 0 %>
        <%= render :partial => post.responses %>
      <% end %>
    </div>
  </div>
</div>