<div class="post-panel">
  <% if user_signed_in? %>
    <%= render partial: 'posts/feed_metadata', locals: { post: PostDecorator.new(post, current_user) } %>
  <% end %>

  <%= render partial: 'posts/post_metadata_dash', locals: { post: post } %>

  <% if post.picture? %>
    <div class="post-picture-wrapper">
      <%= link_to ( image_tag post.picture.url(:thumb) ), post %>
    </div>
  <% end %>

  <div class="main-body">
    <h3 class="post-title"><%= link_to post.title, post %></h3>
    <% if post.lead %>
      <div class="post-body"><%= link_to truncate(remove_javascript(post.lead), length: 400, separator: ' ', escape: false), post %></div>
      <%= link_to "Sigue leyendo", post, class: 'read-more' if post.characters > 400 %>
    <% end %>
  </div>

  <div class="post-stats stats clearfix">
    <div style="display: flex;justify-content: space-around;">
      

      <div style="text-align: center;">
        <%= render partial: 'posts/likes', locals: { post: post } %>
      </div>

      <div style="margin-top: 11px;">
        <%= render partial: 'posts/bookmarks', locals: { post: post } %>
      </div>
    </div>

    <div class="post-tags">
      <% post.tags.each do |tag| %>
        <%= link_to tag.name, tag, class: 'tag' %>
      <% end %>
    </div>

    <div class="response-count pull-right">
      <% if post.responses_count > 0 %>
        <%= link_to (pluralize(post.responses_count, "respuesta")), post_path(post, anchor: 'responses'), class: 'response-count' %>
      <% end %>
    </div>

    <h4 class="small-heading">Respuestas</h4>

    <div data-behavior="responses-list">
      <% if post.responses_count > 0 %>
        <%= render :partial => post.responses.includes(:post).includes(:user).limit(2).order('created_at desc') %>
      <% end %>
    </div>
  </div>
</div>